# CIS 419/519 Homework 1

Name: Yongxin Guo

Pennkey: yongxin

PennID: 68201122

In [17]:
import random 
import numpy as np
import pandas as pd
random.seed(42)  # don't change this line

In [18]:
# Load all data tables
baseDir = "" ## TODO: insert path to data file
df = pd.read_csv(baseDir+'hw1-NHANES-diabetes-train.csv')

# Output debugging info
print(df.shape)
df.head()

(8140, 1812)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520,DIABETIC
0,76195,8,2,1,18,NaN,5,7,1.0,217.0,...,NaN,NaN,NaN,NaN,138.0,18.0,NaN,NaN,NaN,0
1,76958,8,2,2,57,NaN,2,2,1.0,NaN,...,NaN,135.0,115.0,67.0,150.0,45.0,NaN,NaN,NaN,0
2,80248,8,2,2,29,NaN,2,2,2.0,NaN,...,NaN,NaN,125.0,NaN,160.0,28.0,NaN,NaN,NaN,0
3,80213,8,2,2,0,5.0,1,1,2.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,76753,8,2,1,61,NaN,3,3,2.0,NaN,...,NaN,160.0,160.0,69.0,180.0,30.0,NaN,NaN,NaN,0

In [19]:
# Print information about the dataset
print('Percentage of instances with missing features:')
print(df.isnull().sum(axis=0)/df.shape[0])
print()
print('Class information:')
print(df['DIABETIC'].value_counts())

Percentage of instances with missing features:
SEQN        0.000000
SDDSRVYR    0.000000
RIDSTATR    0.000000
RIAGENDR    0.000000
RIDAGEYR    0.000000
RIDAGEMN    0.936241
RIDRETH1    0.000000
RIDRETH3    0.000000
RIDEXMON    0.035258
RIDEXAGM    0.587346
DMQMILIZ    0.383415
DMQADFC     0.948771
DMDBORN4    0.000000
DMDCITZN    0.000369
DMDYRSUS    0.813391
DMDEDUC3    0.724570
DMDEDUC2    0.431450
DMDMARTL    0.431450
RIDEXPRG    0.867322
SIALANG     0.000000
SIAPROXY    0.000123
SIAINTRP    0.000000
FIALANG     0.011794
FIAPROXY    0.011794
FIAINTRP    0.011794
MIALANG     0.278378
MIAPROXY    0.278256
MIAINTRP    0.278133
AIALANGA    0.376044
DMDHHSIZ    0.000000
              ...
WHD080A     0.829361
WHD080B     0.911179
WHD080C     0.920147
WHD080D     0.819533
WHD080E     0.961425
WHD080F     0.976290
WHD080G     0.987592
WHD080H     0.988698
WHD080I     0.992260
WHD080J     0.979238
WHD080K     0.997543
WHD080M     0.897420
WHD080N     0.983538
WHD080O     0.931081
WHD080P     0.998403
WHD080Q     0.888575
WHD080R     0.899140
WHD080S     0.906265
WHD080T     0.900491
WHD080U     0.998403
WHD080L     0.997174
WHD110      0.587469
WHD120      0.504545
WHD130      0.729484
WHD140      0.398894
WHQ150      0.407371
WHQ030M     0.853563
WHQ500      0.853563
WHQ520      0.853563
DIABETIC    0.000000
Length: 1812, dtype: float64

Class information:
0    7447
1     693
Name: DIABETIC, dtype: int64

In [63]:
# test section
# display(df.describe())
dftest = pd.DataFrame({'A':[1,1,1,1],'B':[0,1,0,0], 'C':[0,1,1,1]})
dftest1 = pd.DataFrame({'A':[1,1,0,0],'B':[0,1,0,1], 'C':[0,1,1,1]})
display(dftest)
display(dftest1)
display(pd.concat([dftest,dftest1], axis = 1))

   A  B  C
0  1  0  0
1  1  1  1
2  1  0  1
3  1  0  1

   A  B  C
0  1  0  0
1  1  1  1
2  0  0  1
3  0  1  1

   A  B  C  A  B  C
0  1  0  0  1  0  0
1  1  1  1  1  1  1
2  1  0  1  0  0  1
3  1  0  1  0  1  1

## **Preprocessing**

The first key step in any data modeling task is cleaning your dataset. Explore your dataset and figure out what sort of preprocessing is required. Good preprocessing can make or break your final model. So choose wisely.

Some of the preprocessing steps that you can consider are :


*   One-hot encoding of variables
*   Missing value imputation
*   Removing outliers
*   Converting binary features into 0-1 representation


Feel free to reuse code you've already written in HW 0.

In [21]:
# TODO Insert your preprocessing code here
# read the data again
df = pd.read_csv(baseDir+'hw1-NHANES-diabetes-train.csv')
# Display the statistics information of the data
display(df.describe())
#------------------------------One-hot Encoding---------------------------------------
# Find out if there is any non-numerical features
non_num_count = (df.dtypes == object).sum() # there is 31 non-numerical features
print('There are ', non_num_count, ' non-numerical features needed to be replaced with OHE')
non_num_pos = (df.dtypes == object) # a boolean series indicating which col is object
non_num_col = df.columns[non_num_pos] # get the non-numerical feature column
onehots_col = non_num_col + "_" # define the prefix
df_onehots = pd.get_dummies(df[non_num_col], prefix = onehots_col) # get the onehots col
df.drop(non_num_col, axis = 1, inplace = True) # drop the non-numerical col
df = pd.concat([df, df_onehots], axis = 1) # concatenate the onehots and original dataframe
print("\n\n\n\nHere is the onehot version of data below: ")
display(df.head())

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520,DIABETIC
count,8140.000000,8140.0,8140.000000,8140.000000,8140.000000,519.000000,8140.000000,8140.000000,7853.000000,3359.000000,...,23.0,3358.000000,4033.000000,2202.000000,4893.000000,4824.000000,1192.000000,1192.000000,1192.000000,8140.000000
mean,78643.620270,8.0,1.964742,1.514742,31.540295,10.325626,3.093120,3.293243,1.512543,108.020244,...,40.0,412.695354,565.303992,371.082652,320.504394,516.604892,2.588087,2.303691,1.758389,0.085135
std,2944.779954,0.0,0.184443,0.499813,24.354202,6.831390,1.264086,1.617535,0.499874,69.606070,...,0.0,1509.896278,1969.887519,1708.659654,1099.580444,6886.374513,0.790769,1.225281,0.713558,0.279100
min,73557.000000,8.0,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,40.0,75.000000,55.000000,50.000000,85.000000,10.000000,1.000000,1.000000,1.000000,0.000000
25%,76088.750000,8.0,2.000000,1.000000,10.000000,5.000000,2.000000,2.000000,1.000000,46.000000,...,40.0,140.000000,125.000000,63.000000,155.000000,25.000000,3.000000,1.000000,1.000000,0.000000
50%,78643.000000,8.0,2.000000,2.000000,26.000000,9.000000,3.000000,3.000000,2.000000,104.000000,...,40.0,165.000000,148.000000,66.000000,185.000000,38.000000,3.000000,2.000000,2.000000,0.000000
75%,81201.250000,8.0,2.000000,2.000000,52.000000,16.000000,4.000000,4.000000,2.000000,167.000000,...,40.0,198.000000,179.000000,70.000000,225.000000,53.000000,3.000000,3.000000,2.000000,0.000000
max,83731.000000,8.0,2.000000,2.000000,80.000000,24.000000,5.000000,7.000000,2.000000,239.000000,...,40.0,9999.000000,9999.000000,9999.000000,9999.000000,99999.000000,9.000000,9.000000,9.000000,1.000000

There are  31  non-numerical features needed to be replaced with OHE




Here is the onehot version of data below:

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,SMD100BR__USA GOLD,SMD100BR__VIRGINIA SLIMS,SMD100BR__VIRGINIA SLIMS GOLD,SMD100BR__VIRGINIA SLIMS SUPERSLIMS,SMD100BR__VIRGINIA SLIMS SUPERSLIMS GOLD,SMD100BR__WAVE,SMD100BR__WILD HORSE RED,SMD100BR__WINSTON,SMD100BR__WINSTON GOLD,SMD100BR__WINSTON RED
0,76195,8,2,1,18,NaN,5,7,1.0,217.0,...,0,0,0,0,0,0,0,0,0,0
1,76958,8,2,2,57,NaN,2,2,1.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,80248,8,2,2,29,NaN,2,2,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,80213,8,2,2,0,5.0,1,1,2.0,6.0,...,0,0,0,0,0,0,0,0,0,0
4,76753,8,2,1,61,NaN,3,3,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [22]:
#------------------------------drop the missing value features---------------------
# declare a missing ratio criteria for trimming the data
trim_crt = 0.20
# drop the column with a lot of missing values
drop_col_bol = df.isna().mean() > trim_crt
# number of columns with missing value larger than the criterion
print('The total number with missing values larger than 0.5 to be dropped is: ', sum(drop_col_bol))
# total numbers of columns
print('\nThe total number of columns is: ', df.shape[1])
# delete the columns with missing values larger than the criterion
df = df.loc[:, df.columns[~drop_col_bol]]
# check if we delete all
print('\nAfter trimming, now the number of columns above the criteria is: ', sum(df.isna().mean() > trim_crt))
# print the total column number
print('\nThe total column now is: ', df.shape[1])

The total number with missing values larger than 0.5 to be dropped is:  1507

The total number of columns is:  2430

After trimming, now the number of columns above the criteria is:  0

The total column now is:  923

In [23]:
#----------------------------Replace the rest of NaN with means--------------------------
df = df.fillna(df.mean())
display(df.head())

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,DMDCITZN,...,SMD100BR__USA GOLD,SMD100BR__VIRGINIA SLIMS,SMD100BR__VIRGINIA SLIMS GOLD,SMD100BR__VIRGINIA SLIMS SUPERSLIMS,SMD100BR__VIRGINIA SLIMS SUPERSLIMS GOLD,SMD100BR__WAVE,SMD100BR__WILD HORSE RED,SMD100BR__WINSTON,SMD100BR__WINSTON GOLD,SMD100BR__WINSTON RED
0,76195,8,2,1,18,5,7,1.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
1,76958,8,2,2,57,2,2,1.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2,80248,8,2,2,29,2,2,2.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
3,80213,8,2,2,0,1,1,2.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
4,76753,8,2,1,61,3,3,2.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
#---------------------------------Outlier Elimination-----------------------------------
# drop the outliers with values outside of m +/- 3*s.t.d 
outlier_bol_upper = (df <= (df.mean() + 10 * df.std())).astype('int')
outlier_bol_lower = (df >= (df.mean() - 10 * df.std())).astype('int')
outlier_bol = np.logical_and(outlier_bol_upper, outlier_bol_lower)
# max((~outlier_bol).sum()) # check what is the maximum number of outliers in any of these columns
# sum((~outlier_bol).sum() == 8140) # check if there are columns with all being outliers (wrong)
print('Originally the total number of instances is: ', outlier_bol.shape[0])
outlier_bol = outlier_bol.all(axis = 1)
print('\nAfter eliminating the outliers, the number of instances left is: ', sum(outlier_bol))
# trim the dataframe
df = df.loc[df.index[outlier_bol],:].reset_index(drop = True)
display(df.head())

Originally the total number of instances is:  8140

After eliminating the outliers, the number of instances left is:  5464

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,DMDCITZN,...,SMD100BR__USA GOLD,SMD100BR__VIRGINIA SLIMS,SMD100BR__VIRGINIA SLIMS GOLD,SMD100BR__VIRGINIA SLIMS SUPERSLIMS,SMD100BR__VIRGINIA SLIMS SUPERSLIMS GOLD,SMD100BR__WAVE,SMD100BR__WILD HORSE RED,SMD100BR__WINSTON,SMD100BR__WINSTON GOLD,SMD100BR__WINSTON RED
0,76195,8,2,1,18,5,7,1.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
1,76958,8,2,2,57,2,2,1.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2,80248,8,2,2,29,2,2,2.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
3,80213,8,2,2,0,1,1,2.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0
4,80344,8,2,2,21,3,3,1.0,1,1.0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# split the feature and the result
X = df.drop(['DIABETIC'], axis = 1)
y = df['DIABETIC']

## **Modeling**

In this section, you are tasked with building a Decision Tree classifier to predict whether or not a patient has diabetes. The overall goal of this exercise is to investigate the dataset and develop features that would improve your model performance.

To help with this process, we have provided the structure for two helper functions. These functions will help in tuning your model as well as validating your model's performance.

Complete these two functions.

In [84]:
# from sklearn.model_selection import StratifiedKFold
# dftest2 = pd.DataFrame({'A':[1,2,3,4,5,5,5,6,7],'B':[0,1,0,1,0,1,1,0,1]})
# skf = StratifiedKFold(n_splits=4, random_state = None)
# dftest2_A = dftest2.drop(['B'], axis = 1)
# dftest2_B = dftest2['B']
# display(dftest2_A)
# for train_index, test_index in skf.split(dftest2_A, dftest2_B):
#     print("Train: ", train_index, "Test: ", test_index)

def cross_validated_accuracy(DecisionTreeClassifier, X, y, num_trials, num_folds, random_seed):
    random.seed(random_seed)
    """
   Args:
        DecisionTreeClassifier: An Sklearn DecisionTreeClassifier (e.g., created by "tree.DecisionTreeClassifier(criterion='entropy')")
        X: Input features
        y: Labels
        num_trials: Number of trials to run of cross validation
        num_folds: Number of folds (the "k" in "k-folds")
        random_seed: Seed for uniform execution (Do not change this) 

    Returns:
        cvScore: The mean accuracy of the cross-validation experiment

    Notes:
        1. You may NOT use the cross-validation functions provided by Sklearn
    """
    ## TODO ##
    """ Method 1 using RepeatedStratifiedKFold (prohibited )
    from sklearn.model_selection import RepeatedStratifiedKFold
    rskf = RepeatedStratifiedKFold(n_splits = num_folds, n_repeats = num_trials,
                                   random_state = random_seed)
    scores = np.zeros(num_trials * num_folds) # intialize a score array with 0 entries
    # loop through all the trials(repetitions) and all the folds. 
    # Two for loops nested together in fact
    # the dataset gets shuffled before each trial/repetition
    count = 0
    for train_index, test_index in rskf.split(X, y):
        # get the x_train and x_test
        X_train, X_test = X.loc[train_index, :], X.loc[test_index, :]
        # get the y_train and y_test
        y_train, y_test = y.loc[train_index], y.loc[test_index]
        # Model the tree
        clf = DecisionTreeClassifier.fit(X_train, y_train) 
        # prediction
        y_predict = clf.predict(X_test)
        # calculate the accuracy
        scores[count] = (y_test == y_predict).mean()
        count += 1 # update the counter
    
    cvScore = scores.mean() # get the mean accuracy
    # print('The score array is: ', scores)
    print('\nThe CV estimate of test error (Unpruned): %0.2f (+/- %0.2f)' % (1-cvScore, cvScore.std()*2))
    print('\nThe mean accuracy of the cross-validation is %0.2f: ' % cvScore)
    """
    #================Method 2=====================
    # intialize a score array with 0 entries
    scores = []
    cvScore = 0; # initialize
    for i in range(num_trials):
        # concatenate two dataframes together before shuffling
        combined_xy = pd.concat([X, y], axis = 1)
        # shuffle with fixed random state
        combined_xy = combined_xy.sample(frac = 1, replace = False, random_state = random_seed)
        # split X and y again after shuffling
        X = df.drop(['DIABETIC'], axis = 1)
        y = df['DIABETIC']
        # create a index array for accessing "moving" test data
        mov_test_indices = [0] # first index must be 0
        # since the number of samples may not be divisble by number of folds
        # so the first sample should be the quotient plus the remainder
        # follwing the equation: (X mod n) + (x // n). should also -1 due to index
        remainder = (combined_xy.shape[0] % num_folds)
        quotient = (combined_xy.shape[0] // num_folds)
        mov_test_indices.append(remainder + quotient - 1)
        # the rest (n-1) folds have samples equaling to quotient computed above
        mov_test_indices = mov_test_indices + [quotient] * (num_folds - 1)
        # cumsum all the indices to get rid of the summing later on
        mov_test_indices = list(np.cumsum(mov_test_indices))
        for j in range(num_folds):
            test_upper_bound = mov_test_indices[j]
            test_lower_bound = mov_test_indices[j + 1]
            X_test = X.iloc[test_upper_bound: test_lower_bound, :]
            y_test = y.iloc[test_upper_bound: test_lower_bound]
            # concatenate the rest of X and y data as the train data
            X_train = pd.concat([X.iloc[0: test_upper_bound, :], X.iloc[test_lower_bound:, :]],axis = 0)
            y_train = pd.concat([y.iloc[0: test_upper_bound], y.iloc[test_lower_bound:]],axis = 0)
            # Model the tree
            clf = DecisionTreeClassifier.fit(X_train, y_train)
            y_predict = clf.predict(X_test)
            # calculate the accuracy
            scores.append((y_test == y_predict).mean())
            
    # get the mean accuracy 
    cvScore = np.asarray(scores).mean() 
    print('\nThe CV estimate of test error (Unpruned): %0.2f (+/- %0.2f)' % (1-cvScore, cvScore.std()*2))
    print('\nThe mean accuracy of the cross-validation is %0.2f: ' % cvScore)
    
    return cvScore

# from sklearn import tree
# clf = tree.DecisionTreeClassifier(criterion = 'entropy')
# num_trials, num_folds, random_seed = 10, 10, 10
# cvScore = cross_validated_accuracy(clf, X, y, num_trials, num_folds, random_seed)
# print('\nThe CV score is: ' , cvScore)

In [80]:
def automatic_dt_pruning(DecisionTreeClassifier, X, y, num_trials, num_folds, random_seed):
    random.seed(random_seed)
    """
    Returns the pruning parameter (i.e., ccp_alpha) with the highest cross-validated accuracy
      Args:
            DecisionTreeClassifier  : An Sklearn DecisionTreeClassifier (e.g., created by "tree.DecisionTreeClassifier(criterion='entropy')")      
            X (Pandas.DataFrame)    : Input Features
            y (Pandas.Series)       : Labels
            num_trials              : Number of trials to run of cross validation
            num_folds               : Number of folds for cross validation (The "k" in "k-folds") 
            random_seed             : Seed for uniform execution (Do not change this)

        Returns:
            ccp_alpha : Tuned pruning paramter with highest cross-validated accuracy

        Notes:
            1. Don't change any other Decision Tree Classifier parameters other than ccp_alpha
            2. Use the cross_validated_accuracy function you implemented to find the cross-validated accuracy
    """
  ## TODO ##
    # greater value the ccp_alpha is, it increases the nodes being pruned
    # so let's start the ccp_alpha at 0.
    step_size = 0.01
    ccp_value = 0
    accuracy_list = []
    ccp_list = []
    clf = DecisionTreeClassifier
    tracker = 0;
    stop_threshold = 60
    while True:
        clf.set_params(ccp_alpha = ccp_value)
        accuracy_list.append(cross_validated_accuracy(clf, X, y, num_trials, num_folds, random_seed))
        ccp_value += step_size
        ccp_list.append(ccp_value)
        if accuracy_list[tracker] < accuracy_list[tracker - 1]:
            break
        if tracker == stop_threshold: # if it takes too long 
            break
        tracker += 1
        print('==================', tracker, '=======================')
        
    print('The accuracy list is: ', accuracy_list)
    # get the last/largest ccp_value as the best ccp_alpha 
    # since we want to pruned the tree as much as we can
    ccp_alpha = ccp_list[-1]
    return ccp_alpha

from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion = 'entropy')
automatic_dt_pruning(clf, X, y, 10,10,10)

[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.02 (+/- 0.00)

The mean accuracy of the cross-validation is 0.98:
================== 1 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 2 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 3 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 4 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 5 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 6 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 7 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 8 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 9 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 10 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 11 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 12 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 13 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 14 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 15 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 16 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 17 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 18 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 19 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 20 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 21 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 22 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 23 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 24 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 25 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 26 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 27 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 28 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.01 (+/- 0.00)

The mean accuracy of the cross-validation is 0.99:
================== 29 =======================
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]
[0, 549, 1095, 1641, 2187, 2733, 3279, 3825, 4371, 4917, 5463]

The CV estimate of test error (Unpruned): 0.06 (+/- 0.00)

The mean accuracy of the cross-validation is 0.94:
The accuracy list is:  [0.977647971336496, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9890159931143541, 0.9379561240216978]

0

In [83]:

a = [1]
b = a + [10]*9
c = list(np.cumsum(b))
print(c)
c[-1]

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

91

## **Tuning and Testing**

With the helper functions and your processed dataset, build a Decision Tree classifier to classify Diabetic patients and tune it to maximize model performance.

Once you are done with your modeling process, test your model on the test dataset and output your predictions in a file titled "cis519_hw1_predictions.csv", with one row per prediction.

In [ ]:
## TODO ##