#CIS 419/519 HW0 iPython Notebook

Complete the answers to Questions 5 and 6 by completing this notebook.

# 5.) Dynamic Programming

In [1]:
def CompletePath(s, w, h) -> str:
    '''This function is used to escape from a room whose size is w * h.
    You are trapped in the bottom-left corner and need to cross to the
    door in the upper-right corner to escape.
    @:param s: a string representing the partial path composed of {'U', 'D', 'L', 'R', '?'}
    @:param w: an integer representing the room width
    @:param h: an integer representing the room length
    @:return path: a string that represents the completed path, with all question marks in with the correct directions
    or None if there is no path possible.
    '''

    # # TODO # #
    
    # the bottom-left corner will be a list [1, 1] and top-right will be a list [w, h], 
    def findPath(s, curRoom, s_start, trajectory):
        for index, mov in enumerate(s, start=s_start): # loop through the partial path
            if mov == "U": # going up
                curRoom[1] += 1
            elif mov == 'D': # going down
                curRoom[1] -= 1
            elif mov == 'L': # going left
                curRoom[0] -= 1
            elif mov == 'R': # going right
                curRoom[0] += 1
            else: # got a question mark ? enter the recursion section
                # recursive function to find the possible path by looping through UDLR direction
                for trial in command:
                    # substitute the question mark with the current command we make
                    path[index] = trial
                    # check if there is a solution
                    if findPath([trial] + path[index+1:], curRoom[:], index, trajectory[:]) == True: 
                        return True # return back to last layer if a solution is found
                    else:
                        pass
                return False # all four possible commands won't get to the goal, return 0 to previous layer
            if curRoom in trajectory: # check if the grid cell has been visited before
                return False # return False to last layer if it is visited
            else:
                # otherwise append the visted cell to the trajectory
                trajectory.append(curRoom.copy())
            # check if path is out of boundary
            if curRoom[0] < 1 or curRoom[0] > w or curRoom[1] < 1 or curRoom[1] > h:
                return False # return false if it is out of boundary
            
        if curRoom == goalRoom: # return true if we reach the goal room
            return True
        else: # otherwise return false
            return False
        
   
    startRoom = [1, 1] # specify the start, which is always at [1, 1]
    goalRoom = [w, h] # specify the goal room [w, h] by our definition
    command = 'UDLR' # specify the sequence of command we need to take at ? mark
    #command = 'RLDU'
    path = list(s) # create a copy of the partial path in list form
    traj_start = [[1,1]]
    
    if findPath(s, startRoom, 0, traj_start) != False:
        return "".join(path)
    else:
        return None
    pass
   
# # trial 1
# s1 = "?RDRR?UUUR" # URDRRUUUUR
# w1 = 5
# h1 = 5
# # trial 2
# s2 = "UURDD?UUR?RR" # UURDDRUURURR
# w2 = 6
# h2 = 4
# # trial 3
# s3 = "UUR?UUR?DRR?UU" # UURRUURDDRRUUU or UURUUURDDRRRUU
# w3 = 6
# h3 = 6
# # trial 4 with no solution exist
# s4 = "UUUUUUUUU?R?UU"
# w4 = 6
# h4 = 6
# # Please be noted that the possible escape path may exist multiple solutions! 
# # It depends on the sequence of the trial you choose when facing ? mark
# # for example, a command sequence of 'RLDU' and 'UDLR' will generate different soln
# # corresponding to UURRUURDDRRUUU or UURUUURDDRRRUU respectively for trial 3
# print(CompletePath(s2, w2, h2))

# 6.) Pandas Data Manipulation

In this section, we use the `Pandas` package to carry out 3 common data manipulation tasks :

* **Calculate missing ratios of variables**
* **Create numerical binary variables**
* **Convert categorical variables using one-hot encoding**

For the exercise, we will be using the Titanic dataset, the details of which can be found [here](https://www.kaggle.com/c/titanic/overview). For each of the data manipulation tasks, we have defined a skeleton for the python functions that carry out the given the manipulation. Using the function documentation, fill in the functions to implement the data manipulation.

**Dataset Link** : https://github.com/rsk2327/CIS519/blob/master/train.csv


The file can be downloaded by navigating to the above link, clicking on the 'Raw' option and then saving the file.

Linux/Mac users can use the `wget` command to download the file directly. This can be done by running the following code in a Jupyter notebook cell

```
!wget https://github.com/rsk2327/CIS519/blob/master/train.csv
```

In [5]:
import numpy as np
import pandas as pd

In [6]:
# Read in the datafile using Pandas

df = pd.DataFrame(pd.read_csv('train.csv')) # read in the file # # TODO # #

In [148]:
# !wget https://github.com/rsk2327/CIS519/blob/master/train.csv

In [370]:
def getMissingRatio(inputDf):
    """
    Returns the percentage of missing values in each feature of the dataset.
    
    Ensure that the output dataframe has the column names: Feature, MissingPercent

    Args:
        inputDf (Pandas.DataFrame): Dataframe to be evaluated


    Returns:
        outDf (Pandas.DataFrame): Resultant dataframe with 2 columns (Feature, MissingPercent)
                                  Each row corresponds to one of the features in `inputDf`

    """
    ## TODO ##
    # a table consisting of true or false indicating if the information is missing. NaN -> true
    bolTable = inputDf.isna()
    # sum up the bolean table and divide by the length to get the missing ratio
    ratio = bolTable.sum() / len(df.index) 
    # construct the output dataframe
    outDf = pd.DataFrame({'Feature': inputDf.columns.values, 'MissingPercent': ratio.values})
    
    return outDf

#display(getMissingRatio(df))

        Feature  MissingPercent
0   PassengerId        0.000000
1      Survived        0.000000
2        Pclass        0.000000
3          Name        0.000000
4           Sex        0.000000
5           Age        0.198653
6         SibSp        0.000000
7         Parch        0.000000
8        Ticket        0.000000
9          Fare        0.000000
10        Cabin        0.771044
11     Embarked        0.002245
12    EmbarkedC        0.000000

In [367]:
def convertToBinary(inputDf, feature):
    """
    Converts a two-value (binary) categorical feature into a numerical 0-1 representation and appends it to the dataframe
    
    Args:
        inputDf (pandas.DataFrame): Input dataframe
        variable (str) : Categorical feature which has to be converted into a numerical (0-1) representation
        
    Returns:
        outDf : Resultant dataframe with the original two-value categorical feature replaced by a numerical 0-1 feature

    """
    ## TODO ##
    # check if it is binary by getting the number of total count of the possible values 
    numOfValue = len(inputDf.loc[:, feature].dropna().unique())
    if numOfValue != 2:
        return None # return a error message
    # if it is binary, then continue
    outDf = inputDf.copy() # make a copy so that we are not modifying the original dataframe
    # get a particular value as the seed and compare it with the rest of following value resulting in bolean list, 
    # then convert to numerical datatypes. I also filter out the NaN before I get the seed.
    binaryList = (outDf.loc[:, feature] == outDf.dropna().reset_index(drop = True).loc[0, feature]).astype('int')
    binaryList = binaryList.where(~(outDf.loc[:, feature].isnull()), np.nan)
    outDf.loc[:, feature] = binaryList # replace the target feature with the numerical 0-1 representation
    return outDf

#convertToBinary(df, 'Sex')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,EmbarkedC
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0
5,6,0,3,"Moran, Mr. James",0,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,S,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,S,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,C,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,S,0
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,S,0
12,13,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,NaN,S,0
13,14,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,NaN,S,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,NaN,S,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,NaN,S,0
16,17,0,3,"Rice, Master. Eugene",0,2.0,4,1,382652,29.1250,NaN,Q,0
17,18,1,2,"Williams, Mr. Charles Eugene",0,NaN,0,0,244373,13.0000,NaN,S,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,NaN,S,0
19,20,1,3,"Masselmani, Mrs. Fatima",1,NaN,0,0,2649,7.2250,NaN,C,0
20,21,0,2,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,26.0000,NaN,S,0
21,22,1,2,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,13.0000,D56,S,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,8.0292,NaN,Q,0
23,24,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35.5000,A6,S,0
24,25,0,3,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,21.0750,NaN,S,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,31.3875,NaN,S,0
26,27,0,3,"Emir, Mr. Farred Chehab",0,NaN,0,0,2631,7.2250,NaN,C,0
27,28,0,1,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,NaN,0,0,330959,7.8792,NaN,Q,0
29,30,0,3,"Todoroff, Mr. Lalio",0,NaN,0,0,349216,7.8958,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,11.5000,NaN,S,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,25.9292,D17,S,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,NaN,8,2,CA. 2343,69.5500,NaN,S,0
864,865,0,2,"Gill, Mr. John William",0,24.0,0,0,233866,13.0000,NaN,S,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,13.0000,NaN,S,0
866,867,1,2,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,50.4958,A24,S,0
868,869,0,3,"van Melkebeke, Mr. Philemon",0,NaN,0,0,345777,9.5000,NaN,S,0
869,870,1,3,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,11.1333,NaN,S,0
870,871,0,3,"Balkic, Mr. Cerin",0,26.0,0,0,349248,7.8958,NaN,S,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52.5542,D35,S,0
872,873,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5.0000,B51 B53 B55,S,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,9.0000,NaN,S,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24.0000,NaN,C,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7.2250,NaN,C,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,9.8458,NaN,S,0
877,878,0,3,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,7.8958,NaN,S,0
878,879,0,3,"Laleff, Mr. Kristo",0,NaN,0,0,349217,7.8958,NaN,S,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83.1583,C50,C,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26.0000,NaN,S,0
881,882,0,3,"Markun, Mr. Johann",0,33.0,0,0,349257,7.8958,NaN,S,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,10.5167,NaN,S,0
883,884,0,2,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0
884,885,0,3,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,29.1250,NaN,Q,0
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,Q,0

In [7]:
def addDummyVariables(inputDf, feature):
    """
    Create a one-hot-encoded version of a categorical feature and append it to the existing 
    dataframe.
    
    After one-hot encoding the categorical feature, ensure that the original categorical feature is dropped
    from the dataframe so that only the one-hot-encoded features are retained.
    
    For more on one-hot encoding (OHE) : https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f

    Arguments:
        inputDf (Pandas.DataFrame): input dataframe
        feature (str) : Feature for which the OHE is to be performed


    Returns:
        outDf (Pandas.DataFrame): Resultant dataframe with the OHE features appended and the original feature removed

    """
    ## TODO ##
    outDf = inputDf.copy() # make a copy
    # collect all the possible values for a given feature without repetition, which then becomes a list of new features
    oneHotList = inputDf.loc[:, feature].dropna().unique() # also remove NaN
    for newFeature in oneHotList: # loop through all possible new features
        newFeatureCol = (inputDf.loc[:, feature] == newFeature).astype('int32') # compare with target feature to produce a list of binary values
        outDf[feature + '_' + newFeature] = newFeatureCol # append to the output dataframes
        
    outDf = outDf.drop(columns = feature) # remove the target feature since it was already replaced by new dummy features
    return outDf

addDummyVariables(df,'Cabin')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Cabin_B102,Cabin_B69,Cabin_E49,Cabin_C47,Cabin_D28,Cabin_E17,Cabin_A24,Cabin_C50,Cabin_B42,Cabin_C148
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,0,0,0,0,0,0,0,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,0,0,0,0,0,0,0,0,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,0,0,0,0,0,0,0,0,0,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,...,0,0,0,0,0,0,0,0,0,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,...,0,0,0,0,0,0,0,0,0,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,...,0,0,0,0,0,0,0,0,0,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,...,0,0,0,0,0,0,0,0,0,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,...,0,0,0,0,0,0,0,0,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,...,0,0,0,0,0,0,0,0,0,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,...,0,0,0,0,0,0,0,0,0,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,...,0,0,0,0,0,0,0,0,0,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,...,0,0,0,0,0,0,0,0,0,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,...,0,0,0,0,0,0,0,0,0,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,...,0,0,0,0,0,0,0,0,0,0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,...,0,0,0,0,0,0,0,0,0,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,...,0,0,0,0,0,0,0,0,0,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,...,0,0,0,0,0,0,0,0,0,0
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,...,0,0,0,0,0,0,0,0,0,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,...,0,0,0,0,0,0,0,0,0,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,...,0,0,0,0,0,0,0,0,0,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,...,0,0,0,0,0,0,0,0,0,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,...,0,0,0,0,0,0,0,0,0,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,...,0,0,0,0,0,0,0,0,0,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,...,0,0,0,0,0,0,0,0,0,0
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,...,0,0,0,0,0,0,0,0,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,...,0,0,0,0,0,0,0,0,0,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,...,0,0,0,0,0,0,0,0,0,0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,...,0,0,0,0,0,0,0,0,0,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,...,0,0,0,0,0,0,0,0,0,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,...,0,0,0,0,0,0,0,0,0,0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,...,0,0,0,0,0,0,0,0,0,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,...,0,0,0,0,0,0,0,0,0,0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,...,0,0,0,0,0,0,0,0,0,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,...,0,0,0,0,0,0,1,0,0,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,...,0,0,0,0,0,0,0,0,0,0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,...,0,0,0,0,0,0,0,0,0,0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,...,0,0,0,0,0,0,0,0,0,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,...,0,0,0,0,0,0,0,0,0,0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,...,0,0,0,0,0,0,0,0,0,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,...,0,0,0,0,0,0,0,0,0,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,...,0,0,0,0,0,0,0,0,0,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,...,0,0,0,0,0,0,0,0,0,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,...,0,0,0,0,0,0,0,0,0,0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,...,0,0,0,0,0,0,0,0,0,0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,...,0,0,0,0,0,0,0,0,0,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,...,0,0,0,0,0,0,0,1,0,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,...,0,0,0,0,0,0,0,0,0,0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,...,0,0,0,0,0,0,0,0,0,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,...,0,0,0,0,0,0,0,0,0,0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,...,0,0,0,0,0,0,0,0,0,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,...,0,0,0,0,0,0,0,0,0,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,...,0,0,0,0,0,0,0,0,0,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,0,0,0,0,0,0,0,0,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,0,0,0,0,0,0,0,0,1,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,0,0,0,0,0,0,0,0,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,0,0,0,0,0,0,0,0,0,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,0,0,0,0,0,0,0,0,0,0